.wrapper
	include ../header/header.pug

	.container
		h1 First start Vite JS
		hr
		.logo
			img( src='img/vite.svg')
			img( src='img/webpack-logo.png')
			h1 svg and png loaded successfully
			hr
			pre
			hr
			.card
				h2 SCSS is work very well
			.all-links
				a(href="pages/users.html")
					| Users
				a(href="pages/articles.html")
					| Articles

	include ../footer/footer.pug